#background{
	background-image: url(https://static.vecteezy.com/system/resources/previews/001/372/961/large_2x/abstract-geometric-purple-pink-yellow-background-free-vector.jpg);
	background-size: cover;
	background-position: center;

}

#box1{
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
}